:host ::ng-deep {
    .p-menubar {
        background-color: #dfd;

        .p-menubar-root-list {

            .p-menuitem.p-menuitem-active {
                .p-menuitem-link:not(.p-disabled):hover {
                    background-color: #9f9;
                }
                .p-menuitem-link:not(.p-disabled) {
                    background-color: unset;
                }
            }

            .p-menuitem {
                .p-menuitem-link:not(.p-disabled):hover {
                    background-color: #9f9;
                }
                .p-menuitem-link:not(.p-disabled) {
                    background-color: unset;
                }

                .menubar-information.p-menuitem-link,
                .menubar-information.p-menuitem-link:not(.p-disabled):hover {

                    .p-menuitem-icon,
                    .p-menuitem-text {
                        color: blue;
                    }
                }
            }
        }
    }
}

// .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover

//  .p-menubar .p-menubar-root-list .p-menuitem .menubar-information.p-menuitem-link:not(.p-disabled):hover .p-menuitem-icon

// .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link,
// .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover
