   
<label for="player1" >Player 1: </label>
<p-dropdown [options]="availablePlayers" [(ngModel)]="player1" inputId="player1" [disabled]="gameIsRunning" [optionLabel]="'name'"></p-dropdown>
<br>
<label for="player2" >Player 2: </label>
<p-dropdown [options]="availablePlayers" [(ngModel)]="player2" inputId="player2" [disabled]="gameIsRunning" [optionLabel]="'name'"></p-dropdown>
<br>
<ng-container *ngIf="!gameIsRunning">
    <button pButton type="button" label="Start" (click)="startGame()"></button>
</ng-container>
<ng-container *ngIf="gameIsRunning">
    <button pButton type="button" label="Stop" (click)="stopGame()"></button>
</ng-container>

<app-play-ground [playGround]="playGround" *ngIf="gameIsRunning"></app-play-ground>