<div class="playGround">

    <div *ngIf="playGround.game.isGameFinished()">
        <p *ngIf="playGround.getWinnerName()">
            The Winner is: {{playGround.getWinnerName()}}
        </p>
        <p *ngIf="!playGround.getWinnerName()">
            No Winner - DRAW
        </p>
    </div>
    <div *ngIf="!playGround.game.isGameFinished()">
        <p>
            Game is Running... Next move: {{playGround.getNextPlayerName()}}.
        </p>
    </div>

    <div class="game-container">
        <ng-container *ngFor="let row of playGround.game.playGround; let colIdx = index">
            <div class="row">
                <ng-container *ngFor="let cell of row; let rawIdx = index">
                    <div class="cell {{playerColorName(cell)}}" (click)="click(colIdx, rawIdx)"></div>
                </ng-container>
            </div>
        </ng-container>
    </div>
</div>