<div class="playGround">

    <div *ngIf="playGround.game.isGameFinished()">
        <p *ngIf="playGround.getWinnerName()">
            The Winner is: {{playGround.getWinnerName()}}
        </p>
        <p *ngIf="!playGround.getWinnerName()">
            No Winner - DRAW
        </p>
    </div>
    <div *ngIf="!playGround.game.isGameFinished()">
        <p>
            Game is Running... Next move: {{playGround.getNextPlayerName()}}.
        </p>
    </div>

    <div class="game-container">
        <ng-container *ngFor="let row of playGround.game.playGround; let colIdx = index">
            <div class="row">
                <ng-container *ngFor="let cell of row; let rowIdx = index">
                    <div *ngIf="playerColorName(cell) === 'RED'" class="{{getCellCss(colIdx, rowIdx)}}" (click)="click(colIdx, rowIdx)">
                        <svg width="100%" height="100%" viewBox="0 0 100 100">
                            <line x1="20" y1="20" x2="80" y2="80" stroke="red" stroke-linecap="round" stroke-width="5" class="line line1" />
                            <line x1="80" y1="20" x2="20" y2="80" stroke="red" stroke-linecap="round" stroke-width="5" class="line line2" />

                        </svg>
                    </div>
                    <div *ngIf="playerColorName(cell) === 'GREEN'" class="{{getCellCss(colIdx, rowIdx)}}" (click)="click(colIdx, rowIdx)">
                        <svg width="100%" height="100%" viewBox="0 0 100 100">
                            <circle cx="50" cy="50" r="40" stroke="green" stroke-width="5" stroke-linecap="round" class="circle" fill-opacity="0" />
                            
                            <!-- <path 
                                stroke="green" stroke-width="5" stroke-linecap="round" class="circle" fill-opacity="0"
                                d="
                                    M 50, 50
                                    m -40, 0
                                    a 40,40 0 1,0 80,0
                                    a 40,40 0 1,0 -80,0
                                    "
                                /> -->
                        </svg>

                    </div>
                    <div *ngIf="playerColorName(cell) === 'FREE'" class="{{getCellCss(colIdx, rowIdx)}}" (click)="click(colIdx, rowIdx)">
                        <ng-container *ngIf="showMinimaxPrediction">{{getMinimaxPrediction(colIdx, rowIdx)}}</ng-container>
                    </div>
                </ng-container>
            </div>
        </ng-container>
    </div>
</div>